<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongxing.goods_system.mapper.UserAuthMapper">

    <select id="loginAuth" resultType="UserAuthDO">
        select * from user_auths
        where identity_type = #{identityType} and identifier = #{identifier}
    </select>


</mapper>
